.img {
  width: 120px;
  height: 50px;
}
.some {
  height: 200px;
  text-align: center;
}
.table {
  width: 100%;
  border: 1px solid lightgray;
}
.body tr {
  text-align: center;
  padding: 6px;
}
.body td {
  padding: 6px;
  border: 1px solid lightgray;
}
